<div class="card">
    <div class="bg">
        <h1>market place</h1>
    </div>
    <div class="card_info">
        <h2>Bem vindo, {{nome}}</h2>
        <p>Obrigado por se registrar em nosso market place !</p>
    </div>
</div>